<!-- Contact Section -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 flex-grow-1">
            <div class="card contact-card border border-0 p-4">
                <h4 class="mb-3">{{"Send Us a Message"|titlecase}}</h4>
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">{{'Name'|titlecase}}</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">{{'Email'|titlecase}}</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter your email">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">{{'Message'|titlecase}}</label>
                        <textarea class="form-control note" id="message" rows="4"
                            placeholder="Enter your message"></textarea>
                    </div>
                    <button type="button" class="btn btn-custom w-100">{{'Send Message'|titlecase}}</button>
                </form>
            </div>
        </div>
    </div>
</div>