<!-- About Us Section -->
<div class="container my-5">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="about-section">
                <h2>{{'About Us'|titlecase}}</h2>
                <p>{{'Welcome to'|titlecase}}<strong>{{'EJAD Fashion Store'|titlecase}}</strong>, {{"your go-to\
                    destination for trendy and quality\
                    clothing. Since our inception, we've been committed to providing our customers with the best\
                    shopping experience and the finest fashion items to suit every style."|titlecase}}</p>
                <p>{{"We believe in blending comfort with style, offering collections for all occasions, from casual\
                    wear\
                    to formal outfits. Our team is dedicated to bringing you the latest trends, ensuring that you\
                    always\
                    stand out."|titlecase}}</p>
                <button class="btn btn-custom mt-4 w-100" [routerLink]="['/home/products']">{{'Explore Our\
                    Products'|titlecase}}</button>
            </div>
        </div>
    </div>
</div>