@use "../../styles/variable" as *;
.button {
  background-color: #ebe5d9;
  width: fit-content;
  color: $main-color;
}

select {
  padding: 5px;
}

.btn-custom {
  background-color: $main-color;
  color: #fff;
  &:hover {
    background-color: $hover-color;
  }
}
