<div class="container mb-4 details">
    <div class="all-content">

        <div class="details-content">
            <span class="d-block mb-2 position-relative p-2 fw-bold new-arrival">
                {{'new arrival...'|titlecase}}
            </span>

            <h2 class="fw-bold banner mt-4 mb-1 lh-sm">{{'Elevate'|titlecase}} <br> {{'Your Home Aesthetics'|titlecase}}
            </h2>

            <p class="lh-base my-3">{{'A furniture e-commerce company operates in the digital space, offering a wide\
                range'|titlecase}}</p>
            <div class="buttons mt-4">
                <button type="button" class="btn btn-primary btn-lg me-1 text-white fw-bold rounded-0 buy"
                    [routerLink]="['/product-details']">{{'contact us'|titlecase}}</button>
                <button type="button" class="btn btn-secondary bg-white btn-lg text-black fw-bold rounded-0 details"
                    [routerLink]="['/home/contact']">{{'show products'|titlecase}}</button>
            </div>
        </div>

    </div>
</div>